html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
    color: #000000;
    font-family: 'Segoe UI', 'HelveticaNeue-Light', 'Helvetica Neue Light', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

input, select {
    font-family: 'Segoe UI', 'HelveticaNeue-Light', 'Helvetica Neue Light', Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

::selection {
    background-color: #c2dcf2;
}

.wrapper {
    display: flex;
    height: 100%;
}

nav {
    background-color: #dcdcdc;
    line-height: 50px;
    padding-top: 20px;
    width: 300px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav h1 {
    margin: 0;
    padding-left: 60px;
}

nav a {
    color: #000000;
    display: block;
    padding-left: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #c6c6c6;
}

nav .active a {
    background-color: #84accb;
}

nav .active a:hover {
    background-color: #84accb;
}

nav li.section {
    font-weight: bold;
    padding-left: 60px;
}

article {
    padding: 20px 20px 20px 60px;
}

article h1 {
    margin-bottom: 30px;    
}

.converter-input {
    background: transparent;
    border: none;
    display: block;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 5px;  
    outline: none;
    padding-left: 5px;
    width: 150px;
}

.converter-output {
    font-weight: 600;
    font-size: 38px;
    height: 50px;
    padding-left: 5px;
}

.converter-unit {
    color: #0063b1;
    background: #f2f2f2;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;    
    outline: none;
}

.converter-unit:focus {
    color: #3083d1;
}

.calc-label {
    color: #616161;
}

.calc-input {
    background: transparent;
    border: none;
    display: block;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 25px;
    outline: none;
    width: 150px;
}

.calc-output {
    display: block;
    font-weight: 600;
    font-size: 37px;
    height: 40px;
    width: 150px;
}

.calc-select {
    color: #0063b1;
    background: #f2f2f2;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-left: -2px;    
    margin-top: 10px;
    outline: none;
}

.calc-select:focus {
    color: #3083d1;
}

.calc-unit {
    color: #0063b1;
    background: #f2f2f2;
    border: none;
    font-size: 15px;
    font-weight: 600;   
    margin-left: 5px; 
    outline: none;
}

.calc-unit:focus {
    background-color: #c2dcf2;
}


.mac .converter-output, .mac .converter-unit, .mac .calc-output, .mac .calc-unit, .mac .calc-select {
    font-family: HelveticaNeue, 'Helvetica Neue';
    font-weight: normal;
}
