<div>
    <h1>{{title}}</h1>

    <input class="converter-input" type="text" ng-model="input" autofocus pattern="-?\d*(\.\d+)?" >
    <select class="converter-unit" ng-model="inputUnit">
        <option ng-repeat="unit in units" value="{{unit.id}}">{{unit.name}}</option>
    </select>

    <div class="converter-output" ng-bind="output()"></div>
    <select class="converter-unit" ng-model="outputUnit">
        <option ng-repeat="unit in units" value="{{unit.id}}">{{unit.name}}</option>
    </select>
</div>