<div>
    <h1>Dry gas rate</h1>

    <span class="calc-label">Choke size / 64</span>
    <input type="text" class="calc-input" ng-model="chokeSize" autofocus>

    <span class="calc-label">Wellhead upstream pressure</span>
    <select class="calc-unit" ng-model="wellHeadPressureUnitUpstream">
        <option value="bar">bar</option>
        <option value="psi">psi</option>
    </select>
    <input type="text" class="calc-input" ng-model="wellHeadPressureUpstream" pattern="-?\d*(\.\d+)?" >


    <span class="calc-label">Wellhead downstream pressure</span>
    <select class="calc-unit" ng-model="wellHeadPressureUnitDownstream">
        <option value="bar">bar</option>
        <option value="psi">psi</option>
    </select>
    <input type="text" class="calc-input" ng-model="wellHeadPressureDownstream" pattern="-?\d*(\.\d+)?" >


    <span class="calc-label">Wellhead temperature</span>
    <select class="calc-unit" ng-model="wellHeadTemperatureUnit">
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
    </select>
    <input type="text" class="calc-input" ng-model="wellHeadTemperature" pattern="-?\d*(\.\d+)?" >

    <div class="calc-label">Gas specific gravity (air = 1)</div>
    <input type="text" class="calc-input" ng-model="gasGravity" pattern="-?\d*(\.\d+)?" >

    <span class="calc-label">Gas flow rate</span>
    <select class="calc-unit" ng-model="outputUnit">
        <option value="Mcf/d">Mcf/d</option>
        <option value="MMcf/d">MMcf/d</option>
        <option value="m3/d">m³/d</option>
    </select>
    <div class="calc-output" ng-bind="output()"></div>


</div>