<div>
    <h1>Orifice Plate Choice</h1>
    
    <div class="calc-label">Pipe internal diameter</div>
    <select class="calc-select" ng-model="diameter" autofocus>
        <option value="2">2.067 inch</option>
        <option value="4">4.026 inch</option>
        <option value="5">5.761 inch</option>
    </select>

    <div class="calc-label">Initial pressure (inch water)</div>
    <input type="text" class="calc-input" ng-model="initialPressure" pattern="-?\d*(\.\d+)?" autofocus>

    <div class="calc-label">Initial orifice size (inch)</div>
    <input type="text" class="calc-input" ng-model="initialOrifice" pattern="-?\d*(\.\d+)?" >

    <div class="calc-label">Desired pressure (inch water)</div>
    <input type="text" class="calc-input" ng-model="finalPressure" pattern="-?\d*(\.\d+)?" >

    <div class="calc-label">Orifice size to use (inch)</div>
    <div class="calc-output" ng-bind="output()"></div>
</div>
</div>